<% if @subscription.errors.present? %>
    <% @subscription.errors.full_messages.each do |message| %>
        $('.subscription').html('<%= j message %>');
    <% end %>
<% else %>
    $('.subscription').html('<a href=\"/questions/<%=@subscription.question.id%>/subscriptions\" class=\"subscribe-link\" data-method=\"post\" rel=\"nofollow\" data-remote=\"true\">Subscribe</a>');
<% end %>