// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_answer {
  margin-left: 70px;
}

.answer {
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 30px;
  min-height: 100px;
  width: 700px;
}

.answer-body {
  width: 600px;
  margin-bottom: 15px;
}

.edit_answer {
  display: none;
}

.vote-answer-stuff {
  display: inline-block;
  position: relative;
}

.vote-links {
  min-height: 10px;
  width: 50px;
  margin-right: 20px;
  vertical-align: top;
  margin-bottom: 20px;
}

.solution-answer {
  min-height: 30px;
  width: 50px;
}

#accepted-answer {
  min-height: 50px;
}

.answer-stuff {
  vertical-align: top;
  display: inline-block;
}

.delete-answer-link {
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.count-answers {
  border-bottom: 1px solid #E0E0E0;
  font-size: 18px;
  margin-bottom: 15px;
  padding-bottom: 5px;
}