// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-content {
  border-bottom: 1px solid #E0E0E0;
  padding: 5px 0 5px 10px;
}

.comments-stuff {
  border-top: 1px solid #E0E0E0;
}

.add-comment {
  margin: 10px 0;
}

.add-comment a {
  text-decoration: none;
  color: #888;
}

.cancel-comment {
  color: #888;
  text-decoration: none;
}

.new_comment {
  display: none;
}