// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question {
  margin-bottom: 30px;
  border-bottom: 1px solid #E0E0E0;
  width: 700px;
}

.title {
  height: 40px;
  border-bottom: 1px solid #E0E0E0;
}

.question-title {
  width: 400px;
  float: left;
}

.subscription {
  float: right;
}

.question-show-stuff {
  display: inline-block;
  width: 620px;
  margin: 20px 0;
}

.vote-links {
  width: 40px;
  margin: 20px 20px 0 10px;
  vertical-align: top;
  display: inline-block;
  float: left;
}

.edit_question {
  display: none;
}

.link-all-questions {
  margin-left: 70px;
}

.total-rating {
  margin-left: 0.7em;
}

.link-delete-question {
  margin-bottom: 10px;
}

.question-title {
  font-size: 25px;
  margin-bottom: 20px;
}

.question-body {
  margin-bottom: 15px;
}